/* HTML: <div class="loader"></div> */

.container{
    display:flex;
    align-items:center;
    justify-content:center;

}
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg,#F0810F calc(50% + 0.5ch),#063852 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
            background-clip: text;
    animation: l7 2s infinite steps(11);
  }
  .loader:before {
    content:"Saliendo de la aplicación..."
  }
  @keyframes l7 {to{background-position: left}}