/* Estilos generales */
* {
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total */
}

nav a {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto igual que el del li */
    background-color: transparent; /* Asegúrate de que el fondo sea transparente */
    display: block; /* Asegura que el <a> ocupe todo el espacio del <li> */
    width: 100%; /* Ocupa el 100% del ancho del <li> */
    height: 100%; /* Ocupa el 100% del alto del <li> */
}

.navbar {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    align-items: center;
    background-color: var(--color-primary);
    height: 55px;
    box-shadow: var(--shadow-md);
}

.navbar a {
    color: rgb(240, 233, 233); /* Color del texto del enlace */
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 30px; /* Espaciado interno del <a> */
    display: flex;
    align-items: center; /* Centra el contenido del enlace verticalmente */
    height: 100%; /* Hace que el enlace también ocupe el 100% de la altura del <li> */
}

.navbar a:hover {
    background-color: var(--color-secundary); /* Color de fondo al hacer hover sobre el <a> */
}

.isActive {
    font-weight: bold; /* Mantiene el texto en negrita */
    background-color: var(--color-secundary);
    border-left: 1px solid white;
    border-right: 1px solid white;
    pointer-events: none; /* Desactiva los eventos del enlace activo */
}